public net.minecraft.client.particle.SingleQuadParticle sprite
protected net.minecraft.world.entity.monster.Creeper explodeCreeper()V
#protected net.minecraft.world.item.BoatItem getBoat(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/phys/HitResult;Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/entity/player/Player;)Lnet/minecraft/world/entity/vehicle/Boat;
public net.minecraft.world.entity.player.Player foodData
public net.minecraft.world.level.block.Block beginCapturingDrops()V
public net.minecraft.world.level.block.Block stopCapturingDrops()Ljava/util/List;
public net.minecraft.world.level.block.entity.LecternBlockEntity pageCount
public net.minecraft.world.level.block.entity.LecternBlockEntity setPage(I)V
public-f net.minecraft.client.particle.SimpleAnimatedParticle sprites
public-f net.minecraft.world.item.AxeItem STRIPPABLES
